body {
    height: 100%;
}

#container {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text {
    color: white;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s; 
}

#container:hover > .text {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s; 
}

#progressbox {
    background-color: rgba(255, 255, 255, .2);
}

#progressbar {
    background-color: rgba(255, 255, 255, .2);
    height: 20px;
}
