body {
    height: 100%;
    margin: 0;
    padding: 0;
    transition: background-color 500ms linear;
}

#container {
    padding: 10%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1, h2, p, a {
    color: white;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 3em;
}

.text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s, visibility 1.5s; 
}

#container:hover > .text, .text.visible {
    visibility: visible;
    opacity: 1;
}

.pause-text {
    display: none;
}

#progressbar {
    background-color: rgba(255, 255, 255, .1);
    height: 100%;
    position: absolute;
    z-index: -1;
}
